/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(85, 153, 85);
    padding: 0 2rem;
    /*to ensure nothing goes over the header*/
    z-index: 10;
    position: fixed;
    /*something i learned from the Love running project*/
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}



main {
    /* Make main element take up any surplus space to push footer down it does this by getting the flexbox values from body */
    flex: 1 0 auto;
}

h1,
h2,
h3 {
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

a {
    font-size: 150%;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #FFFFFF;
}


/*NAVIGATION----------------------------------------------------------------------------------------------------------------*/

/*aligning options inside the nav area*/


#logo{
    margin: 10px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li{
    margin: 10px;
}

ul a{
    text-decoration: none;
}

/*HOVER EFFECTS*/
.option{
    padding: 0 1rem;
}


.option:hover {
    transition-duration: 1.0s;
    color: #3a3a3a;
}

/*hides the hamburger menu for bigger screens*/
.checkbox-label {
    display: none; /* Hide the checkbox label by default */
}

#checkbox-options {
    display: none;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

/*MAIN CONTENT--------------------------------------------------------------------------------------------------------------*/

/* Hero section ---------------------------------------------------------------------------------------------------------*/
#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/Nursehero-image.webp") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 2px 2px #3a3a3a;

}

#cover-text {
/* Final rgba value sets the opacity so it is semi-transparent */
background-color: rgb(85, 153, 85, .7);
font-size: 130%;
position: absolute;
bottom: 30%;
width: 40%;
min-height: 50px;
padding-top: 20px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
margin: auto;
}

#cover-text-space{
margin-bottom: 2px;
padding-bottom: 10px;
}

/*cover text color*/
#cover-text>h2,
#cover-text>h3 {
color: #ffffff;
}


/*sign up info section --------------------------------------------------------------------------------------------------*/
#sign-up-info {
    width: 90%;
    margin: 20px auto;
    border: 3px solid rgb(85, 153, 85);
}
#sign-up-info i{
    color: #3a3a3a;
    margin: 0 0.5rem;
}

#sign-up-info h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
    color: #3a3a3a;
}

#sign-up-info h3{
    margin-bottom: 20px;
    font-size: 200%;
    margin-left: 15px;
    color: #3a3a3a;

}

/*this is the direct children of the these divs*/
#why-join-us-L>div,
#why-join-us-R>div {
    line-height: 20px;
    margin-bottom: 20px;
}
/*c meaning container , shortened to make it easier to type*/
#sign-up-info-c p {
    padding: 0 20px;
    font-family: 'Noto Sans', sans-serif;

}

#sign-up-info-c hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/*FOOTER----------------------------------------------------------------------------------------------------------------------*/

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 130%;
    padding: 5%;
    color: #3a3a3a;
}












































/* Media Query for tablet and phone sizes */
@media only screen and (max-width: 768px) {
    /*generic styles*/
    h1,
    h2,
    h3 {
        font-size: 65%;
        margin-top: 0; /* Reset margin */
    }

    header {
        padding: 0 1rem; 
    }

    #logo {
        margin: 10px 0;
    }

    /*NAVIGATION------------------------------------------------------------------------------------------*/
    

    .checkbox-label {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #FFFFFF;
        margin-left: 120px; 
    }

    /* Aligning option-label and h1 */
    .checkbox-label,
    #logo {
        display: inline-block; 
        vertical-align: middle; 
    }

    nav ul {
        display: none; /* Hide the navigation menu by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0; 
        width: 100%;
        background-color: rgb(85, 153, 85);
        padding: 10px;
    }

    #checkbox-options:checked ~ nav ul {
        display: flex; /* Show the navigation menu when checkbox is checked */
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .option {
        padding: 0 1rem;
    }

    .option:hover {
        color: #3a3a3a;
    }

    /*NAVIGATION------------------------------------------------------------------------------------------*/
}
