/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(85, 153, 85);
    padding: 0 2rem;
    /*to ensure nothing goes over the header*/
    z-index: 10;
    position: fixed;
    /*something i learned from the Love running project*/
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}



main {
    /* Make main element take up any surplus space to push footer down it does this by getting the flexbox values from body */
    flex: 1 0 auto;
}

h1,
h2,
h3 {
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

a {
    font-size: 150%;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #FFFFFF;
}


/*NAVIGATION----------------------------------------------------------------------------------------------------------------*/

/*aligning options inside the nav area*/


#logo{
    margin: 10px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li{
    margin: 10px;
}

ul a{
    text-decoration: none;
}

/*HOVER EFFECTS*/
.option{
    padding: 0 1rem;
}


.option:hover {
    transition-duration: 1.0s;
    color: #3a3a3a;
}

/*hides the hamburger menu for bigger screens*/
.checkbox-label {
    display: none; /* Hide the checkbox label by default */
}

#checkbox-options {
    display: none;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

/*MAIN CONTENT--------------------------------------------------------------------------------------------------------------*/

/* Hero section ---------------------------------------------------------------------------------------------------------*/
#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/Nursehero-image.webp") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 2px 2px #3a3a3a;

}

#cover-text {
/* Final rgba value sets the opacity so it is semi-transparent */
background-color: rgb(85, 153, 85, .7);
font-size: 130%;
position: absolute;
bottom: 30%;
width: 40%;
min-height: 50px;
padding-top: 20px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
margin: auto;
}

#cover-text-space{
margin-bottom: 2px;
padding-bottom: 10px;
}

/*cover text color*/
#cover-text>h2,
#cover-text>h3 {
color: #ffffff;
}


/*sign up info section --------------------------------------------------------------------------------------------------*/
#sign-up-info {
    width: 90%;
    margin: 20px auto;
    border: 3px solid rgb(85, 153, 85);
}
#sign-up-info i{
    color: #3a3a3a;
    margin: 0 0.5rem;
}

#sign-up-info h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
    color: #3a3a3a;
}

#sign-up-info h3{
    margin-bottom: 20px;
    font-size: 200%;
    margin-left: 15px;
    color: #3a3a3a;

}

/*this is the direct children of the these divs*/
#why-join-us-L>div,
#why-join-us-R>div {
    line-height: 20px;
    margin-bottom: 20px;
}
/*c meaning container , shortened to make it easier to type*/
#sign-up-info-c p {
    padding: 0 20px;
    font-family: 'Noto Sans', sans-serif;

}

#sign-up-info-c hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}


/*join us content -------------------------------------------------------------------------------------------------------*/

#joinuscontent {
    background-color: rgb(85, 153, 85);
    display: flex;
    flex-direction: row;
    margin: 75px;
}

#textContainer {
    width: 65%;
    text-align: center;
}

/*aligning text to the center of the container and also using up the surplus space*/
#textContainer p{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    color: #FFFFFF;
    width:fit-content;
    padding: 15px;
}

#textContainer h2{
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid #FFFFFF;
}

#ImageContainer img {
    width: 100%;
    height: 100%;
}

#buttonContainer{
    padding-top: 15px;
    padding-bottom: 15px;
}


#buttonContainer button{
    padding: 10px;
    font-size: 18px;
    background-color: #FFFFFF;
    color: rgb(85, 153, 85);
    border: 1px solid rgb(85, 153, 85);
}

/* default styles for the button link*/


/*adding hover effects for button*/
#buttonContainer button:hover{
        background-color: red;
        color: #FFFFFF;
        transition: 0.4s;
        transition-delay: 0.2s;
        transition-duration: 0.5s;
}

/*changing the color of the link when button is hovered over*/
#buttonContainer button:hover a{
    color: #FFFFFF;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}




/*FOOTER----------------------------------------------------------------------------------------------------------------------*/

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 130%;
    padding: 5%;
    color: #3a3a3a;
}



/*INFORMATION PAGE----------------------------------------------------------------------------------------------------*/

/* Information content --------------------------------------------------------------------------------------------------------- */

#info-heading {
    text-align: center; 
    font-size: 36px; 
    margin-top: 100px; 
    margin-bottom: 50px; 
    color: rgb(85, 153, 85);;
}

.green-container {
    background-color: rgb(85, 153, 85);
    padding: 50px 15px; /* Add padding to create white space around the content */
    width: 100%;
}

.green-container h3 {
    color: #FFFFFF;
    font-size: 24px; /* Adjust the font size */
    margin-top: 20px;
    padding: 0 1rem;
}

.green-container p {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #FFFFFF;
    width: fit-content;
    padding: 0 1rem;
}

.green-container ul {
    padding-left: 20px;
    padding-bottom: 15px;
}

.green-container li{
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 5px; 
    padding: 5px; 
    margin-bottom: 5px; 
    list-style-type: none;
}

/*white container------------------------------------ */
#white-container {
    background-color: #FFFFFF;
    padding: 15px;
    width: 100%;
}

.area-headings {
    color: rgb(46, 86, 46);
    font-size: 20px;
    margin-top: 20px;
    padding: 0 1rem;
}

#white-container h3 {
    color: rgb(46, 86, 46);
    font-size: 20px;
    margin-top: 20px;
    padding: 0 1rem;
}

#white-container p {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: rgb(46, 86, 46);
    width: fit-content;
    padding: 0 1rem;
    border-radius: 5px; 
    margin-bottom: 10px;
}

#white-container ul {
    padding-left: 20px;
    padding-bottom: 15px;
}

#white-container li {
    color: rgb(46, 86, 46);
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    border: 1px solid rgb(46, 86, 46); 
    border-radius: 5px; 
    padding: 5px; 
    margin-bottom: 5px; 
    list-style-type: none;
}









































/* Media Query for tablet and phone sizes */
@media only screen and (max-width: 768px) {
    /*generic styles*/
    h1,
    h2,
    h3 {
        font-size: 65%;
        margin-top: 0; /* Reset margin */
    }

    header {
        padding: 0 1rem; 
    }

    #logo {
        margin: 10px 0;
    }

    /*NAVIGATION------------------------------------------------------------------------------------------*/
    

    .checkbox-label {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #FFFFFF;
        margin-left: auto;
    }

    /* Aligning option-label and h1 */
    .checkbox-label,
    #logo {
        display: inline-block; 
        vertical-align: middle; 
    }

    nav ul {
        display: none; /* Hide the navigation menu by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0; 
        width: 100%;
        background-color: rgb(85, 153, 85);
        padding: 10px;
    }

    #checkbox-options:checked ~ nav ul {
        display: flex; /* Show the navigation menu when checkbox is checked */
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .option {
        padding: 0 1rem;
    }


    /*NAVIGATION------------------------------------------------------------------------------------------*/
    /*hero content----------------------------------------------------------------------------*/
    #hero{
        position: relative;
        width: 100%;
        height: 45vh;
        margin-top: 24px;
        box-shadow: none;
    }
    #cover-text {
        position: absolute;
        top: 15%;
        left: 0; 
        overflow: auto;
        min-height: fit-content;
        margin-bottom: 20px;
    }
    
    /*about our services content----------------------------------------------------------------*/
    #sign-up-info h2{
        font-size: 200%;
    }
    #sign-up-info h3{
        width: 100%;
        letter-spacing: 1.5px;
        font-size: 80%;
    }

    #sign-up-info i{
        padding: 7.5px;
        align-content: center;
    }
    #why-join-us-L,
    #why-join-us-R {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        
    /*about us content--------------------------------------------------------------------------*/
    #joinuscontent{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    #ImageContainer img{
        width: 100%;
        height: 100%;
        align-content: center;
        justify-content: center;
        padding: 1rem;

    }
    #textContainer{
        width: fit-content;
    }

    #textContainer h2{
        font-size: 24px;
        letter-spacing: 1.5px;
    }

    #textContainer p{
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }


    /*INFORMATION PAGE-------------------------------------------------------------------------------------------------*/
    #info-heading {
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .green-container {
        padding: 20px 10px; 
    }

    .green-container h3 {
        font-size: 18px; 
        margin-top: 10px;
    }

    .green-container p {
        font-size: 14px;
        letter-spacing: 1.5px; 
    }

    .green-container ul {
        padding-bottom: 5px; 
    }

    .green-container li {
        font-size: 14px; 
    }

    #white-container {
        padding: 10px;
    }

    .area-headings, #white-container h3 {
        font-size: 18px;
        margin-top: 15px;
    }

    #white-container p {
        font-size: 14px; 
    }

    #white-container ul {
        padding-bottom: 5px; 
    }

    #white-container li {
        font-size: 14px; 
    }
}

/*TABLET QUERY------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 500px ) and (max-width:1200px){
    /*generic styles*/

    

    /*NAVIGATION------------------------------------------------------------------------*/

    .checkbox-label {
        display: block;
        font-size: 34px;
        color: #FFFFFF;
        margin-left: auto;
    }

    /* Aligning option-label and h1 */
    .checkbox-label,
    #logo {
        display: inline-block; 
        vertical-align: middle; 
    }

    nav ul {
        display: none; /* Hide the navigation menu by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0; 
        width: 100%;
        background-color: rgb(85, 153, 85);
        padding: 10px;
    }

    #checkbox-options:checked ~ nav ul {
        display: flex; /* Show the navigation menu when checkbox is checked */
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .option{
        font-size: 200%;
        padding-bottom: 10px;
    }
    /*hero content-----------------------------------------------------------------------*/
    #hero{
        height: 65vh;
    }
    #cover-text{
        width: 50%;
        font-size: 160%;
        margin-bottom: 150px;
        position: absolute;
        top: 20%; 
        overflow: auto;
        min-height: fit-content;
    }

    /*why choose our healthcare content*/

    #sign-up-info p{
        font-size: 22px;
        padding: 30px;
        letter-spacing: 1.5px;
        margin: 10px;
    }

    #sign-up-info h3{
        font-size: 30px;
    }

    /*about us content---------------*/

        #joinuscontent {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        #ImageContainer img {
            width: 100%;
            height: 100%;
            align-content: center;
            justify-content: center;
            padding: 1rem;
    
        }

        
    
        #textContainer {
            width: fit-content;
        }
    
        #textContainer h2 {
            font-size: 34px;
            letter-spacing: 1.5px;
        }
    
        #textContainer p {
            font-size: 24px;
            padding-left: 5px;
            padding-right: 5px;
        }

        /*INFORMATION PAGE ------------------------------------------------------------*/
        #info-heading {
            font-size: 28px;
            margin-top: 60px;
            margin-bottom: 25px;
        }
    
        .green-container {
            padding: 25px 15px; 
        }
    
        .green-container h3 {
            font-size: 20px; 
            margin-top: 12px;
        }
    
        .green-container p {
            font-size: 18px; 
        }
    
        .green-container ul {
            padding-bottom: 8px; 
        }
    
        .green-container li {
            font-size: 18px; 
        }
    
        #white-container {
            padding: 12px;
        }
    
        .area-headings, #white-container h3 {
            font-size: 20px;
            margin-top: 18px;
        }
    
        #white-container p {
            font-size: 18px; 
        }
    
        #white-container ul {
            padding-bottom: 8px; 
        }
    
}